h1{
    font-size: 34px;
    font-family: "Verdana", sans-serif;
    background-color: aquamarine;
}

img{
    height: 800px;
    width: auto;
}

p{
    font-family: Geneva, Tahoma, sans-serif;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    background-color:#ff6666 ;
}

li{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


/*
button{
    font-family: "Courier New", sans-serif;
    background-color: darkcyan;
    font-size: 16px;
}
*/