img{
    width: 360px;
    height: auto;
}

h1{
    font-size: 34px;
    font-family: "Verdana", sans-serif;
}

h2{
    text-align: center;
    font-family: "Courier New", sans-serif;
}

.accent{
    background-color: #66ff99;
}

button{
    font-family: "Courier New", sans-serif;
    background-color: #ff6666;
    font-size: 18px;
}


.bottom{
    text-align: center;
    font-size: 14px;
}